body{
    background-color:rgba(52,58,64,0.03);
}
.content{
    margin-top:30px;
}
.chartwrapper{
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    height:500px;
}

#piechart{
    align-content: center;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    height:400px;
    width:100%;
}

#piechartyoung{
    align-content: center;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    height:400px;
    width:100%;
}
.footer-spacer{
    height:70px;
}
