html,
body {
    height: 100%;
}

#bgimg {
    background-image: url('/imgs/qep.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.v-center {
    margin-top: auto;
    margin-bottom: auto;
}

.img {
    width: 100%;
}

.hklogo {
    width: 95px;
    height: 135px;
    background-image: url('/imgs/hkf.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}

.forgotpass {
    text-decoration: underline;
}

.form-bottom .form-bottom-left {
    float: left;
}

.form-bottom .form-bottom-right {
    float: right;
}

@media only screen and (max-width: 991px) {
    #bgimg {
        display: none;
    }
}

#bgimg {
    overflow: hidden;
}

.bg {
    position: absolute;
    opacity: 0.0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 3000px;
    height: 3000px;
    background-image: url("/imgs/img1.svg");
    background-repeat: repeat;
}

.options {
    margin-top: 15px;
    display: block;
    text-decoration: none;
    color: #b0b0b0;
}

.options:hover {
    text-decoration: none;
    color: #d0d0d0;
}

.toastnotification {
    display: none;
    width: 300px;
    height: 20px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    z-index: 1000 !important;
}