body {
    margin-top: 30px;
}

label {
    width: 100%;
    font-size: 1rem;
}

.card-input-element+.card {
    /*height: calc(36px + 2*1rem);*/
    /*color: var(--primary);*/
    color: #4e4e4e;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #f3f3f3;
}

.card-input-element+.card:hover {
    cursor: pointer;
}

.card-input-element:checked+.card {
    /*border: 2px solid var(--primary);*/
    border: 2px solid #2481c7;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}

.my-card-header {
    background-color: #f6f6f6;
    min-width: 8rem;
    color: #2074b3;
}

h1 {
    color: #2074b3;
}

h3 {
    color: #2481c7;
}

.btn {
    margin-top: 10px;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .card {
        margin: 5px;
    }

    .btn {
        margin: 5px;
    }
}

.wrapper {
    position: relative;
}

.non-overlay {
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: none;
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    color: white;
    text-align: center;
    backdrop-filter: blur(5px) brightness(80%);
    border: 2px solid #3490dc;
    border-radius: 3px;
}

.first,
.second,
.third {
    display: block;
    font-size: 32px;
    font-weight: bold;
}

.maximum_selection_reached {
    border: 2px solid #38c172;
    border-radius: 3px;
}

.card-body.normalize {
    color: #4e4e4e;
    background-color: #f3f3f3;
}