a {
    display: block;
}
a:hover{
    text-decoration: none;
}

#img-left{
    background-image: url('/imgs/omikk.jpg');
}

#img-right{
    background-image: url('/imgs/bmeq.jpg');
}

.alreadyvoted{
    color: rgba(255,255,255,0.4);
}

.own-container {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.img-box {
    flex: 1;
    transition: .5s;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.img-title {
    opacity: 0.7;
    transition: .5s;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Agency FB";
}

.img-box:hover {
    flex: 1 1 5%;
}

.img-box:hover .img-title {
    opacity: 1;
    background-color: rgba(0,0,0,0.9);
}

.asd{

}

@media only screen and (max-width: 900px) {
    .img-box {
        width: 100%;
    }
    .own-container {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .img-box {
        height: 50%;
        opacity: 1;
    }
    .img-title {
        opacity: 1;
    }

}
